<!DOCTYPE html>
<html>
    <title>Fit Vishnu</title>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />
        <style>
            body{
              background-color: rgb(95, 94, 94);
                display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }
        .ma{
            width:100vw;
            height:600px;
             background-color: rgb(23, 23, 23);
            
        }
        
        .wks{
            width:1300px;
            height:400px;
            background-color:  rgb(38, 38, 38);
           
        }
        .wk{
            width:220px;
            height:350px;
            background-color: rgb(91, 85, 85);
            margin-left: 25px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 17px;
          
            color: white;
            border-radius: 7px;

        }
        .f{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .img{
            width:220px;
            height:260px;
            margin-bottom: 10px;
            background-image: url('https://i.pinimg.com/originals/49/5f/8c/495f8cb1e636385625f826abf964256f.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border-top-right-radius: 7px;
            border-top-left-radius: 7px;
        }
        .img1{
            width:220px;
            height:260px;
            margin-bottom: 10px;
            background-image: url('https://img.freepik.com/premium-vector/overweight-human-with-fat-feet-scales-isolated-white-person-with-weight-standing-weighing-machine-heavy-woman_91248-773.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }
        .img2{
            width:220px;
            height:260px;
            margin-bottom: 10px;
            background-image: url('https://hips.hearstapps.com/hmg-prod/images/first-sun-jogging-royalty-free-image-858538028-1549395748.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }
        .f1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .pic{
            width:700px;
            height:90px;
            font-size: 90px;
            color:orange;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 20px;
            font-weight: 700;
        }
        .pic1{
            width:700px;
            height:35px;
            font-size: 35px;
            color:rgb(255, 255, 255);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .j{
            width:700px;
            height:200px;
            margin-bottom: 300px;
            margin-right: 200px;
        }
        .i{
            height:270px;
            width:270px;
            background-image: url('https://w7.pngwing.com/pngs/567/598/png-transparent-physical-fitness-exercise-equipment-fitness-centre-fitness-icon-text-trademark-orange.png');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            margin-bottom:10px;
            margin-right: 100px;
        }
        .l{
            font-size: 16px;
            color:rgb(255, 255, 255);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .bu{
            height:37px;
            width:119px;
            border:1px solid orange;
            background-color: rgb(77, 77, 77);
            color:orange;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 10px;
            border-radius: 4px;
        }
        .bu:hover{
            background-color: orange;
            color: white;
            border:none
        }
        .wk:hover{
            background-color: rgb(99, 98, 98);
            border:2px solid orange;
        }
        .t{
            width:50px;
            height:50px;
            border-radius: 50%;
            border:2px solid orange;
            font-size: 30px;
            color:orange;
            margin:20px;

        }
        a{
            color:orange;
        }
        a:hover{
            color:white;

        }
        .t:hover{
            background: orange;
            border: none;
        }
       label{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        color: white;
       }
       .n{
        width:1100px;
        height:250px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        color: white;

       }
        </style>
    </head>
    <body>
        <div class="ma f"><div class="j"><div class="pic"><p>YOUR BODY</p></div><div class="pic1">CAN DO IT</div><div class="pic1">IT'S TIME TO CONVINCE</div><div class="pic">YOUR MIND</div><br><p class="l">Regular physical activity has numerous benefits for the body. It strengthens muscles, improves cardiovascular health, enhances flexibility, and boosts endurance. Exercise also helps in maintaining a healthy weight and reduces the risk of chronic diseases like obesity, diabetes, and heart disease.</p></div><div class="i"></div></div>
        <div class="wks f"><div class="wk f1"><div class="img"></div><p>MUSCLE GAIN  WORKOUTS</p><button class="bu"  onclick="mg()">View details >></button></div>
      <div class="wk f1"><div class="img1"></div><p>WEIGHT LOSS EXERCISES</p>  <button class="bu"  onclick="wl()">View details >></button></div>
        <div class="wk f1"><div class="img2"></div><p>CARDIO EXERCISES</p><button class="bu" onclick="co()">View details >></button></div></div>
        <div class="wks f1">  <div class="n"> <p>Introducing our cutting-edge fitness app, designed to revolutionize your fitness journey and elevate your overall well-being. With a sleek and user-friendly interface, our app offers a personalized and immersive experience tailored to your unique fitness goals. Whether you're a beginner or a seasoned athlete, our app provides expertly crafted workout routines, nutrition plans, and mindfulness exercises to ensure holistic health transformation. Track your progress effortlessly, access a vast library of workout videos, and connect with a supportive community of like-minded individuals, all within the palm of your hand. Our app doesn't just stop at workouts; it's your comprehensive fitness companion, guiding you towards a healthier lifestyle. Embrace the power of our fitness app and embark on a transformative journey towards a fitter, stronger, and healthier you. Your fitness goals, now just a touch away.</p></div> <label>Follow us on Social Media:</label><br>
         <div class="f">  <div class="t f"> <a href="https://www.facebook.com/instagram/" target="_blank"><i class="fab fa-facebook "></i></a></div>
          <div class="t f"> <a href="https://twitter.com/facebook" target="_blank"><i class="fab fa-twitter "></i></a></div>
           <div class="t f"> <a href="https://www.instagram.com/facebook/?hl=en" target="_blank"><i class="fab fa-instagram "></i></a></div>
           <div class="t f"> <a href="https://in.linkedin.com/" target="_blank"><i class="fab fa-linkedin "></i></a></div><br><br></div></div>
    </body>
    <script>
        function mg(){
            window.location.href = "gymmg.html";
        }
        function wl(){
            window.location.href = "gymwl.html";
        }
        function co(){
            window.location.href = "gymco.html";
        }
    </script>
</html>