<!DOCTYPE html>
<html>
    <head>
        <title>Cardio exercises</title>
        <style>
         body{

background-color: rgb(91, 85, 85);
display: flex;
align-items: center;
justify-items: center;
flex-direction: column;
}
.ma{
display: flex;
align-items: center;
justify-items: center;
flex-direction: column;


}
.mbo{

width:1100px;
height:2450px;
background-color: rgb(38, 38, 38);
}
f2{
display: flex;
flex-direction: row;
align-items: center;
justify-items: center;

}
img{
width:160px;
height:160px;

}
#v1{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height:200px;
width:800px;
background-color: #3b3b3b;
border-bottom: solid  rgb(108, 107, 107);
border-bottom-width:0.005cm;

}
.f{
display: flex;
flex-direction: column;

}
.c{
height:200px;
width:585px;
margin-left: 15px;

}
a{
text-decoration: none; 
}
h3{
 color: rgb(255, 255, 255);
 font-size: 22px;
 margin-left: 16px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 h3:hover {
 color:rgb(162, 163, 164); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.co{
 color: rgb(255, 255, 255);
 font-size: 18px;
 margin-left: 16px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.f1{
display: flex;
flex-direction: row;
}
.dw{
width:800px;
height:130px;
text-align: left;
color: white;
}
.bu1{
 border-width: 0px;
 background-color: orange;
 border-radius: 4px;
 height:50px;
 width:200px;
 margin-left: 30px;
 color: white;
 font-size: 19px;;
 margin-bottom: 20px;;
 margin-top: 20px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .bu12{
 border: 1px solid white;
 background-color: transparent;
 border-radius: 4px;
 height:50px;
 width:200px;
 margin-left: 30px;
 color: white;
 font-size: 19px;;
 margin-bottom: 20px;;
 margin-top: 20px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .bu2{
 border-width: 0px;
 background-color: rgb(255, 255, 255);
 border-radius: 4px;
 height:140px;
 width:140px;
 margin-left: 3px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align: center;
 
 color: rgb(99, 97, 97);
 font-size: 19px;;
 margin-bottom: 20px;;
 }
 .bu2:hover {
 transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
 
.bu12:hover {
 background-color:orange;
 color: white; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
} 
#wk{
    font-size: 39px;
    width:650px;
    border-bottom: 8px solid orange;
    padding-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
 }

 .dw{
 width:800px;
 height:130px;
 text-align: left;
 color: white;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .con{
    width:800px;
 height:500px;
 margin-top: 30px;
 margin-bottom: 20px;
 font-size: 20px;
 text-align: left;
 color: white;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
        </style>

    </head>
    <body>
        <div class="mbo ma">
       
            
                <div class="dw">  <div id="wk">CARDIO EXERCISES</div></div>
                <div class="con">Cardiovascular exercises, commonly known as cardio, are essential for overall fitness and well-being. Engaging in cardio activities, such as running, swimming, cycling, or dancing, significantly benefits the heart and lungs by improving their efficiency. These exercises elevate the heart rate and increase circulation, promoting better cardiovascular health. Regular cardio workouts aid in burning calories, which can contribute to weight loss or maintenance, and help regulate blood sugar levels. Cardio exercises also enhance lung capacity, allowing the body to utilize oxygen more efficiently. Furthermore, cardio workouts release endorphins, reducing stress and improving mood. Importantly, consistent cardio training strengthens muscles, boosts endurance, and improves overall body composition, making it a cornerstone of any comprehensive fitness regimen.</div>
       <div id="v1">
       
        <img id="di1" src="https://fitnessprogramer.com/wp-content/uploads/2023/09/Depth-Jump-to-Hurdle-Hop.gif" alt="Initial Image">
        <div class="c f"><a id="dl1" href="monl2.html?image=image1&content=content1&head=head1&steps=steps1"><div><h3 id="h1">DEPTH JUMP TO HURDLE HOP</h3></div><div class="co" id="c1">Block,home</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di2" src="https://fitnessprogramer.com/wp-content/uploads/2023/09/power-lunge.gif" alt="Initial Image">
        <div class="c f"><a id="dl2" href="monl2.html?image=image2&content=content2&head=head2&steps=steps2"><div><h3 id="h1">POWER LUNGE</h3></div><div class="co" id="c1"> Home</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di3" src="https://fitnessprogramer.com/wp-content/uploads/2023/09/shadow-boxing-workout.gif" alt="Initial Image">
        <div class="c f"><a id="dl3" href="monl2.html?image=image3&content=content3&head=head3&steps=steps3"><div><h3 id="h1">SHADOW BOXING</h3></div><div class="co" id="c1">Boxing, Home</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di4" src="https://fitnessprogramer.com/wp-content/uploads/2022/02/Riding-Outdoor-Bicycle.gif" alt="Initial Image">
        <div class="c f"><a id="dl4" href="monl2.html?image=image4&content=content4&head=head4&steps=steps4"><div><h3 id="h1">RIDING OUTDOOR BICYCLE</h3></div><div class="co" id="c1">Outdoor, bicycle</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di5" src="https://fitnessprogramer.com/wp-content/uploads/2021/09/Walking.gif" alt="Initial Image">
        <div class="c f"> <a id="dl5" href="monl2.html?image=image5&content=content5&head=head5&steps=steps5"><div><h3 id="h1">WALKING</h3></div><div class="co" id="c1">Outdoor, treadmill</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di6" src="https://fitnessprogramer.com/wp-content/uploads/2021/09/Briskly-Walking.gif" alt="Initial Image">
        <div class="c f"> <a id="dl6" href="monl2.html?image=image6&content=content6&head=head6&steps=steps6"><div><h3 id="h1">BRISKLY WALKING</h3></div><div class="co" id="c1">Outdoor, treadmill</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di7" src="https://fitnessprogramer.com/wp-content/uploads/2023/06/sprint.gif" alt="Initial Image">
        <div class="c f"><a id="dl7" href="monl2.html?image=image7&content=content7&head=head7&steps=steps7"><div><h3 id="h1">SPRINT</h3></div><div class="co" id="c1">Outdoor</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di8" src="https://fitnessprogramer.com/wp-content/uploads/2021/10/Walk-Wave-Machine.gif" alt="Initial Image">
        <div class="c f"><a id="dl8" href="monl2.html?image=image8&content=content8&head=head8&steps=steps8"><div><h3 id="h1">WALK WAVE MACHINE</h3></div><div class="co" id="c1">Treadmill, wavemachine, gym</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di9" src="https://fitnessprogramer.com/wp-content/uploads/2021/06/Incline-Treadmill.gif" alt="Initial Image">
        <div class="c f"> <a id="dl9" href="monl2.html?image=image9&content=content9&head=head9&steps=steps9"><div><h3 id="h1">INCLINE TREADMILL</h3></div><div class="co" id="c1">Treadmill</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di10" src="https://fitnessprogramer.com/wp-content/uploads/2021/10/Elliptical-Machine.gif" alt="Initial Image">
        <div class="c f"> <a id="dl10" href="monl2.html?image=image10&content=content10&head=head10&steps=steps10"><div><h3 id="h1">ELLIPTICAL MACHINE</h3></div><div class="co" id="c1">Eliptical machine, gym or home</div></a></div>
       </div>

          </div>
    </body>
   








</html>