<!DOCTYPE html>
<html>
   <title>Muscle building workouts</title>
 <head>
 <style>
body{

    background-color: rgb(91, 85, 85);
    display: flex;
 align-items: center;
 justify-items: center;
 flex-direction: column;
}
 .ma{
 display: flex;
 align-items: center;
 justify-items: center;
 flex-direction: column;


 }
 .mbo{

    width:1100px;
    height:1800px;
    background-color:rgb(38, 38, 38);
 }
 f2{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-items: center;
 
 }
 img{
 width:160px;
 height:160px;

 }
 #v1{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 height:200px;
 width:800px;
 background-color: #3b3b3b;
 border-bottom: solid  rgb(108, 107, 107);
 border-bottom-width:0.005cm;
 
 }
 .f{
 display: flex;
 flex-direction: column;
 
 }
 .c{
 height:200px;
 width:585px;
 margin-left: 15px;
 
 }
 a{
 text-decoration: none; 
 }
 h3{
 color: rgb(255, 255, 255);
 font-size: 22px;
 margin-left: 16px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 h3:hover {
 color:rgb(162, 163, 164); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
 .co{
 color: rgb(255, 255, 255);
 font-size: 18px;
 margin-left: 16px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .f1{
 display: flex;
 flex-direction: row;
 }
 .dw{
 width:800px;
 height:130px;
 text-align: left;
 color: white;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .bu1{
 border-width: 0px;
 background-color: orange;
 border-radius: 4px;
 height:50px;
 width:200px;
 margin-left: 30px;
 color: white;
 font-size: 19px;;
 margin-bottom: 20px;;
 margin-top: 20px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .bu12{
 border: 1px solid white;
 background-color: transparent;
 border-radius: 4px;
 height:50px;
 width:200px;
 margin-left: 30px;
 color: white;
 font-size: 19px;;
 margin-bottom: 20px;;
 margin-top: 20px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .bu2{
 border-width: 0px;
 background-color: rgb(255, 255, 255);
 border-radius: 4px;
 height:140px;
 width:140px;
 margin-left: 3px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align: center;
 
 color: rgb(99, 97, 97);
 font-size: 19px;;
 margin-bottom: 20px;;
 }
 .bu2:hover {
 transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
 
.bu12:hover {
 background-color:orange;
 color: white; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
} 
 .m1{
 height:100px;
 width:100px;
 background-image: url("https://fitnessprogramer.com/wp-content/uploads/2021/02/workout-1-icon.png");
 background-repeat: no-repeat;
 background-size: cover;
 margin-left: 5px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
 }
 
 .m2{
 height:100px;
 width:100px;
 background-image: url("https://fitnessprogramer.com/wp-content/uploads/2021/02/bench-1-icon.png");
 background-repeat: no-repeat;
 background-size: cover;
 margin-left: 5px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
 }
 .m3{
 height:100px;
 width:100px;
 background-image: url("https://fitnessprogramer.com/wp-content/uploads/2021/02/workou-2-icon.png");
 background-repeat: no-repeat;
 background-size: cover;
 margin-left: 5px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
 }
 .m4{
 height:100px;
 width:100px;
 background-image: url("https://fitnessprogramer.com/wp-content/uploads/2021/02/power-muscle-1-icon.png");
 background-repeat: no-repeat;
 background-size: cover;
 margin-left: 5px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .m5{
 height:100px;
 width:100px;
 background-image: url("https://fitnessprogramer.com/wp-content/uploads/2021/02/workout-2-icon.png");
 background-repeat: no-repeat;
 background-size: cover;
 margin-left: 5px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .m6{
 height:100px;
 width:100px;
 background-image: url("https://fitnessprogramer.com/wp-content/uploads/2021/02/bodybuilding-1-icon.png");
 background-repeat: no-repeat;
 background-size: cover;
 margin-left: 5px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 #day{
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 #wk{
    font-size: 39px;
    width:650px;
    border-bottom: 8px solid orange;
    padding-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
 }

 
 </style>

 </head>
 <body><div class="mbo ma"><div class="f1">
 <button class="bu1" >WORKOUT</button>
 <button class="bu12" onclick="diet()">DIET</button></div>
 <div class="f1">
 <button class="bu2 f2" id="mon"><div class="m1"></div>Monday</button>
 <button class="bu2 f2" id="tue"><div class="m2"></div>Tuesday</button>
 <button class="bu2 f2" id="wed"><div class="m3"></div>Wednesday</button>
 <button class="bu2 f2" id="thu"><div class="m4"></div>Thursday</button>
 <button class="bu2 f2" id="fri"><div class="m5"></div>Friday</button>
 <button class="bu2 f2" id="sat"><div class="m6"></div>Saturday</button>
</div>
 <div class="dw"><div id="day">MONDAY</div>
 <div id="wk">SHOULDERS, FOREARMS</div></div>
 
 <div id="v1">
 
 <img id="di1" src="https://fitnessprogramer.com/wp-content/uploads/2023/10/Dumbbell-Push-Press.gif" alt="Initial Image">
 <div class="c f"><a id="dl1" href="monl1.html?image=image1&content=content1&head=head1&steps=steps1"><div><h3 id="h1">DUMBELL PUSH PRESS</h3></div><div class="co" id="c1">Dumbells , gym or home</div></a></div>
 </div>
 <div id="v1">
 
 <img id="di2" src="https://fitnessprogramer.com/wp-content/uploads/2021/02/Dumbbell-Lateral-Raise.gif" alt="Initial Image">
 <div class="c f"> <a id="dl2" href="monl1.html?image=image2&content=content2&head=head2&steps=steps2"><div><h3 id="h2">DUMBELL LATERAL RAISE</h3></div><div class="co" id="c2">Dumbells , gym or home</div></a></div>
 </div>
 <div id="v1">
 
 <img id="di3" src="https://fitnessprogramer.com/wp-content/uploads/2021/02/Dumbbell-Shoulder-Press.gif" alt="Initial Image">
 <div class="c f"><a id="dl3" href="monl1.html?image=image3&content=content3&head=head3&steps=steps3"><div><h3 id="h3">DUMBELL SHOULDER PRESS</h3></div><div class="co" id="c3">Dumbells , gym or home</div></a></div>
 </div>
 <div id="v1">
 
 <img id="di4" src="https://fitnessprogramer.com/wp-content/uploads/2021/07/Barbell-Standing-Military-Press.gif" alt="Initial Image">
 <div class="c f"><a id="dl4" href="monl1.html?image=image4&content=content4&head=head4&steps=steps4"><div><h3 id="h4">BARBELL STANDING MILITARY PRESS</h3></div><div class="co" id="c4">Barbell , gym or home</div></a></div>
 </div>
 <div id="v1">
 
 <img id="di5" src="https://fitnessprogramer.com/wp-content/uploads/2021/08/Two-Arm-Dumbbell-Front-Raise.gif" alt="Initial Image">
 <div class="c f"> <a id="dl5" href="monl1.html?image=image5&content=content5&head=head5&steps=steps5"><div><h3 id="h5">TWO ARM DUMBELL FRONT RAISE</h3></div><div class="co" id="c5">Dumbell , gym or home</div></a></div>
 </div>
 <div id="v1">
 
 <img id="di6" src="https://fitnessprogramer.com/wp-content/uploads/2023/10/Seated-Zottman-Curl.gif" alt="Initial Image">
 <div class="c f"> <a id="dl6" href="monl1.html?image=image6&content=content6&head=head6&steps=steps6"><div><h3 id=h6>SEATED ZOTTMAN CURL</h3></div><div class="co" id="c6">Dumbells , gym or home</div></a></div>
 </div>
 <div id="v1">
 
 <img id="di7" src="https://fitnessprogramer.com/wp-content/uploads/2021/06/Dumbbell-Wrist-Curl.gif" alt="Initial Image">
 <div class="c f"> <a id="dl7" href="monl1.html?image=image7&content=content7&head=head7&steps=steps7"><div><h3 id="h7">DUMBELL WRIST CURL</h3></div><div class="co" id="c7">Dumbell, gym or home</div></a></div>
 </div>

</div>
 
 </body>
 <script>
 const mon=document.getElementById("v1");
 const dl1= document.getElementById('dl1');
 const dl2= document.getElementById('dl2');
 const dl3= document.getElementById('dl3');
 const dl4= document.getElementById('dl4');
 const dl5= document.getElementById('dl5');
 const dl6= document.getElementById('dl6');
 const dl7= document.getElementById('dl7');
 const h1= document.getElementById('h1');
 const h2= document.getElementById('h2');
 const h3= document.getElementById('h3');
 const h4= document.getElementById('h4');
 const h5= document.getElementById('h5');
 const h6= document.getElementById('h6');
 const h7= document.getElementById('h7');
 const c1 = document.getElementById('c1');
const c2 = document.getElementById('c2');
const c3 = document.getElementById('c3');
const c4 = document.getElementById('c4');
const c5 = document.getElementById('c5');
const c6 = document.getElementById('c6');
const c7 = document.getElementById('c7');

const di1 = document.getElementById('di1');
const di2 = document.getElementById('di2');
const di3 = document.getElementById('di3');
const di4 = document.getElementById('di4');
const di5 = document.getElementById('di5');
const di6 = document.getElementById('di6');
const di7 = document.getElementById('di7');
const wk = document.getElementById('wk');
const day = document.getElementById('day');


const newmonl1 = 'monl1.html?image=image1&content=content1&head=head1&steps=steps1';
const newmonl2 = 'monl1.html?image=image2&content=content2&head=head2&steps=steps2';
const newmonl3 = 'monl1.html?image=image3&content=content3&head=head3&steps=steps3';
const newmonl4 = 'monl1.html?image=image4&content=content4&head=head4&steps=steps4';
const newmonl5 = 'monl1.html?image=image5&content=content5&head=head5&steps=steps5';
const newmonl6 = 'monl1.html?image=image6&content=content6&head=head6&steps=steps6';
const newmonl7 = 'monl1.html?image=image7&content=content7&head=head7&steps=steps7';




const newtuel1 = 'monl1.html?image=imaget1&content=contentt1&head=headt1&steps=stepst1';
const newtuel2 = 'monl1.html?image=imaget2&content=contentt2&head=headt2&steps=stepst2';
const newtuel3 = 'monl1.html?image=imaget3&content=contentt3&head=headt3&steps=stepst3';
const newtuel4 = 'monl1.html?image=imaget4&content=contentt4&head=headt4&steps=stepst4';
const newtuel5 = 'monl1.html?image=imaget5&content=contentt5&head=headt5&steps=stepst5';
const newtuel6 = 'monl1.html?image=imaget6&content=contentt6&head=headt6&steps=stepst6';
const newtuel7 = 'monl1.html?image=imaget7&content=contentt7&head=headt7&steps=stepst7';


const newwedl1 = 'monl1.html?image=imagew1&content=contentw1&head=headw1&steps=stepsw1';
const newwedl2 = 'monl1.html?image=imagew2&content=contentw2&head=headw2&steps=stepsw2';
const newwedl3 = 'monl1.html?image=imagew3&content=contentw3&head=headw3&steps=stepsw3';
const newwedl4 = 'monl1.html?image=imagew4&content=contentw4&head=headw4&steps=stepsw4';
const newwedl5 = 'monl1.html?image=imagew5&content=contentw5&head=headw5&steps=stepsw5';
const newwedl6 = 'monl1.html?image=imagew6&content=contentw6&head=headw6&steps=stepsw6';
const newwedl7 = 'monl1.html?image=imagew7&content=contentw7&head=headw7&steps=stepsw7';



const newthul1 = 'monl1.html?image=imageh1&content=contenth1&head=headh1&steps=stepsh1';
const newthul2 = 'monl1.html?image=imageh2&content=contenth2&head=headh2&steps=stepsh2';
const newthul3 = 'monl1.html?image=imageh3&content=contenth3&head=headh3&steps=stepsh3';
const newthul4 = 'monl1.html?image=imageh4&content=contenth4&head=headh4&steps=stepsh4';
const newthul5 = 'monl1.html?image=imageh5&content=contenth5&head=headh5&steps=stepsh5';
const newthul6 = 'monl1.html?image=imageh6&content=contenth6&head=headh6&steps=stepsh6';
const newthul7 = 'monl1.html?image=imageh7&content=contenth7&head=headh7&steps=stepsh7';

const newfril1 = 'monl1.html?image=imaget1&content=contentt2&head=headt1&steps=stepst1';
const newfril2 = 'monl1.html?image=imaget2&content=contentt2&head=headt2&steps=stepst2';
const newfril3 = 'monl1.html?image=imaget3&content=contentt2&head=headt3&steps=stepst3';
const newfril4 = 'monl1.html?image=imaget4&content=contentt2&head=headt4&steps=stepst4';
const newfril5 = 'monl1.html?image=imaget5&content=contentt2&head=headt5&steps=stepst5';
const newfril6 = 'monl1.html?image=imaget6&content=contentt2&head=headt6&steps=stepst6';
const newfril7 = 'monl1.html?image=imaget7&content=contentt2&head=headt7&steps=stepst7';


const newsatl1 = 'monl1.html?image=imagew1&content=contentw2&head=headw1&steps=stepsw1';
const newsatl2 = 'monl1.html?image=imagew2&content=contentw2&head=headw2&steps=stepsw2';
const newsatl3 = 'monl1.html?image=imagew3&content=contentw3&head=headw3&steps=stepsw3';
const newsatl4 = 'monl1.html?image=imagew4&content=contentw4&head=headw4&steps=stepsw4';
const newsatl5 = 'monl1.html?image=imagew5&content=contentw5&head=headw5&steps=stepsw5';
const newsatl6 = 'monl1.html?image=imagew6&content=contentw6&head=headw6&steps=stepsw6';
const newsatl7 = 'monl1.html?image=imagew7&content=contentw7&head=headw7&steps=stepsw7';






const newmoni1 = 'https://fitnessprogramer.com/wp-content/uploads/2023/10/Dumbbell-Push-Press.gif';
const newmoni2 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Dumbbell-Lateral-Raise.gif';
const newmoni3 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Dumbbell-Shoulder-Press.gif';
const newmoni4 = 'https://fitnessprogramer.com/wp-content/uploads/2021/07/Barbell-Standing-Military-Press.gif';
const newmoni5 = 'https://fitnessprogramer.com/wp-content/uploads/2021/08/Two-Arm-Dumbbell-Front-Raise.gif';
const newmoni6= 'https://fitnessprogramer.com/wp-content/uploads/2023/10/Seated-Zottman-Curl.gif';
const newmoni7 = 'https://fitnessprogramer.com/wp-content/uploads/2021/06/Dumbbell-Wrist-Curl.gif';




const newtuei1 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Barbell-Bench-Press.gif';
const newtuei2 = 'https://fitnessprogramer.com/wp-content/uploads/2023/06/Incline-Chest-Fly-Machine.gif';
const newtuei3 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Dumbbell-Fly.gif';
const newtuei4 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Dumbbell-Press-1.gif';
const newtuei5 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Dumbbell-Kickback.gif';
const newtuei6 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Bench-Dips.gif';
const newtuei7 = 'https://fitnessprogramer.com/wp-content/uploads/2021/04/One-Arm-Lying-Triceps-Extension.gif';


const newwedi1 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Pull-up.gif';
const newwedi2 = 'https://fitnessprogramer.com/wp-content/uploads/2021/08/Cable-Rear-Pulldown.gif';
const newwedi3 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Lat-Pulldown.gif';
const newwedi4 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Barbell-Bent-Over-Row.gif';
const newwedi5 = 'https://fitnessprogramer.com/wp-content/uploads/2022/04/Double-Arm-Dumbbell-Curl.gif';
const newwedi6 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Concentration-Curl.gif';
const newwedi7 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Hammer-Curl.gif';



const newthui1 = 'https://fitnessprogramer.com/wp-content/uploads/2023/09/dumbbell-lunges.gif';
const newthui2 = 'https://fitnessprogramer.com/wp-content/uploads/2023/09/Dumbbell-Squat.gif';
const newthui3 = 'https://fitnessprogramer.com/wp-content/uploads/2023/09/dumbbell-deadlifts.gif';
const newthui4 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/BARBELL-SQUAT.gif';
const newthui5 = 'https://fitnessprogramer.com/wp-content/uploads/2022/07/Cross-Crunch.gif';
const newthui6 = 'https://fitnessprogramer.com/wp-content/uploads/2015/11/Crunch.gif';
const newthui7 = 'https://fitnessprogramer.com/wp-content/uploads/2022/07/Leg-Raise-Dragon-Flag.gif';


const newfrii1 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Barbell-Bench-Press.gif';
const newfrii2 = 'https://fitnessprogramer.com/wp-content/uploads/2023/06/Incline-Chest-Fly-Machine.gif';
const newfrii3 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Dumbbell-Fly.gif';
const newfrii4 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Dumbbell-Press-1.gif';
const newfrii5 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Dumbbell-Kickback.gif';
const newfrii6 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Bench-Dips.gif';
const newfrii7 = 'https://fitnessprogramer.com/wp-content/uploads/2021/04/One-Arm-Lying-Triceps-Extension.gif';



const newsati1 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Pull-up.gif';
const newsati2 = 'https://fitnessprogramer.com/wp-content/uploads/2021/08/Cable-Rear-Pulldown.gif';
const newsati3 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Lat-Pulldown.gif';
const newsati4 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Barbell-Bent-Over-Row.gif';
const newsati5 = 'https://fitnessprogramer.com/wp-content/uploads/2022/04/Double-Arm-Dumbbell-Curl.gif';
const newsati6 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Concentration-Curl.gif';
const newsati7 = 'https://fitnessprogramer.com/wp-content/uploads/2021/02/Hammer-Curl.gif';



document.getElementById('mon').addEventListener('click', function () {
 dl1.href = newmonl1;
 dl2.href = newmonl2;
 dl3.href = newmonl3;
 dl4.href = newmonl4;
 dl5.href = newmonl5;
 dl6.href = newmonl6;
 dl7.href = newmonl7;
 di1.src = newmoni1;
 di2.src = newmoni2;
 di3.src = newmoni3;
 di4.src = newmoni4;
 di5.src = newmoni5;
 di6.src = newmoni6;
 di7.src = newmoni7;
 wk.textContent="SHOULDERS, FOREARMS"
 day.textContent="MONDAY"
 h1.textContent="DUMBELL PUSH PRESS"
 h2.textContent="DUMBELL LATERAL RAISE"
 h3.textContent="DUMBELL SHOULDER PRESS"
 h4.textContent="BARBELL STANDING MILITARY PRESS"
 h5.textContent="TWO ARM DUMBELL FRONT RAISE"
 h6.textContent="SEATED ZOTTMAN CURL"
 h7.textContent="DUMBELL WRIST CURL"
 c1.textContent="Dumbell, gym or home"
 c2.textContent="Dumbell, gym or home"
 c3.textContent="Dumbell, gym or home"
 c4.textContent="Barbell, gym or home"
 c5.textContent="Dumbell, gym or home"
 c6.textContent="Dumbell, gym or home"
 c7.textContent="Dumbell, gym or home"
 
 });
 document.getElementById('tue').addEventListener('click', function () {
 dl1.href = newtuel1;
dl2.href = newtuel2;
dl3.href = newtuel3;
dl4.href = newtuel4;
dl5.href = newtuel5;
dl6.href = newtuel6;
dl7.href = newtuel7;

 di1.src = newtuei1;
 di2.src = newtuei2;
 di3.src = newtuei3;
 di4.src = newtuei4;
 di5.src = newtuei5;
 di6.src = newtuei6;
 di7.src = newtuei7;
 wk.textContent="CHEST, TRICEPS"
 day.textContent="TUESDAY"
 h1.textContent="BARBELL BENCH PRESS"
 h2.textContent="INCLINE CHEST FLY MACHINE"
 h3.textContent="DUMBBELL FLY"
 h4.textContent="DUMBBELL PRESS 1"
 h5.textContent="DUMBBELL KICKBACK"
 h6.textContent="BENCH DIPS"
 h7.textContent="ONE ARM LYING TRICEPS EXTENSION"
 c1.textContent="Barbell, Bench, gym or home"
 c2.textContent="Inclined bench,chest fly, gym or home"
 c3.textContent="Dumbell, gym or home"
 c4.textContent="Dumbell, gym or home"
 c5.textContent="Dumbell, gym or home"
 c6.textContent="Bench, gym or home"
 c7.textContent="Dumbell, gym or home"
 
 });
 document.getElementById('wed').addEventListener('click', function () {
 dl1.href = newwedl1;
dl2.href = newwedl2;
dl3.href = newwedl3;
dl4.href = newwedl4;
dl5.href = newwedl5;
dl6.href = newwedl6;
dl7.href = newwedl7;

 di1.src = newwedi1;
 di2.src = newwedi2;
 di3.src = newwedi3;
 di4.src = newwedi4;
 di5.src = newwedi5;
 di6.src = newwedi6;
 di7.src = newwedi7;
 wk.textContent="BACK, BICEPS"
 day.textContent="WEDNESDAY"
 h1.textContent="PULL UP"
 h2.textContent="CABLE REAR PULLDOWN"
 h3.textContent="LAT PULLDOWN"
 h4.textContent="BARBELL BENT OVER ROW"
 h5.textContent="DOUBLE ARM DUMBBELL CURL"
 h6.textContent="CONCENTRATION CURL"
 h7.textContent="HAMMER CURL"
 c1.textContent="Pull up rod, gym or home"
 c2.textContent="Pull down cable, gym"
 c3.textContent="Pull down cable, gym"
 c4.textContent="Barbell, gym or home"
 c5.textContent="Dumbell, gym or home"
 c6.textContent="Dumbell, gym or home"
 c7.textContent="Dumbell, gym or home"
 
 });
 document.getElementById('thu').addEventListener('click', function () {
 dl1.href = newthul1;
dl2.href = newthul2;
dl3.href = newthul3;
dl4.href = newthul4;
dl5.href = newthul5;
dl6.href = newthul6;
dl7.href = newthul7;

 di1.src = newthui1;
 di2.src = newthui2;
 di3.src = newthui3;
 di4.src = newthui4;
 di5.src = newthui5;
 di6.src = newthui6;
 di7.src = newthui7;
 wk.textContent="LEGS, ABS"
 day.textContent="THURSDAY"
 h1.textContent="DUMBBELL LUNGES"
 h2.textContent="DUMBBELL SQUAT"
 h3.textContent="DUMBBELL DEADLIFTS"
 h4.textContent="BARBELL SQUAT"
 h5.textContent="CROSS CRUNCH"
 h6.textContent="CRUNCH"
 h7.textContent="LEG RAISE DRAGON FLAG"
 c1.textContent="Dumbell, gym or home"
 c2.textContent="Dumbell, gym or home"
 c3.textContent="Dumbell, gym or home"
 c4.textContent="Barbell, gym or home"
 c5.textContent=" Gym or home"
 c6.textContent=" Gym or home"
 c7.textContent="Gym or home"
 
 });
 document.getElementById('fri').addEventListener('click', function () {
 dl1.href = newfril1;
dl2.href = newfril2;
dl3.href = newfril3;
dl4.href = newfril4;
dl5.href = newfril5;
dl6.href = newfril6;
dl7.href = newfril7;

 di1.src = newfrii1;
 di2.src = newfrii2;
 di3.src = newfrii3;
 di4.src = newfrii4;
 di5.src = newfrii5;
 di6.src = newfrii6;
 di7.src = newfrii7;
 wk.textContent="CHEST,TRICEP"
 day.textContent="FRIDAY"
 h1.textContent="BARBELL BENCH PRESS"
 h2.textContent="INCLINE CHEST FLY MACHINE"
 h3.textContent="DUMBBELL FLY"
 h4.textContent="DUMBBELL PRESS 1"
 h5.textContent="DUMBBELL KICKBACK"
 h6.textContent="BENCH DIPS"
 h7.textContent="ONE ARM LYING TRICEPS EXTENSION"
 c1.textContent="Barbell, Bench, gym or home"
 c2.textContent="Inclined bench,chest fly, gym or home"
 c3.textContent="Dumbell, gym or home"
 c4.textContent="Dumbell, gym or home"
 c5.textContent="Dumbell, gym or home"
 c6.textContent="Bench, gym or home"
 c7.textContent="Dumbell, gym or home"
 
 
 
 });
 document.getElementById('sat').addEventListener('click', function () {
 dl1.href = newsatl1;
dl2.href = newsatl2;
dl3.href = newsatl3;
dl4.href = newsatl4;
dl5.href = newsatl5;
dl6.href = newsatl6;
dl7.href = newsatl7;

 di1.src = newsati1;
 di2.src = newsati2;
 di3.src = newsati3;
 di4.src = newsati4;
 di5.src = newsati5;
 di6.src = newsati6;
 di7.src = newsati7;
 wk.textContent="BACK ,BICEPS"
 day.textContent="SATURDAY"
 h1.textContent="PULL UP"
 h2.textContent="CABLE REAR PULLDOWN"
 h3.textContent="LAT PULLDOWN"
 h4.textContent="BARBELL BENT OVER ROW"
 h5.textContent="DOUBLE ARM DUMBBELL CURL"
 h6.textContent="CONCENTRATION CURL"
 h7.textContent="HAMMER CURL"
 c1.textContent="Pull up rod, gym or home"
 c2.textContent="Pull down cable, gym"
 c3.textContent="Pull down cable, gym"
 c4.textContent="Barbell, gym or home"
 c5.textContent="Dumbell, gym or home"
 c6.textContent="Dumbell, gym or home"
 c7.textContent="Dumbell, gym or home"
 
 });
 function diet(){
            window.location.href = "diet1.html";
        }
 </script>
</html>