<!DOCTYPE html>
<html>
    <head>
        <title>weight loss exercises</title>
        <style>
           body{

background-color: rgb(91, 85, 85);
display: flex;
align-items: center;
justify-items: center;
flex-direction: column;
}
.ma{
display: flex;
align-items: center;
justify-items: center;
flex-direction: column;


}
.mbo{

width:1100px;
height:2450px;
background-color: rgb(38, 38, 38);
}
f2{
display: flex;
flex-direction: row;
align-items: center;
justify-items: center;

}
img{
width:160px;
height:160px;

}
#v1{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height:200px;
width:800px;
background-color:#3b3b3b;
border-bottom: solid  rgb(108, 107, 107);
border-bottom-width:0.005cm;

}
.f{
display: flex;
flex-direction: column;

}
.c{
height:200px;
width:585px;
margin-left: 15px;

}
a{
text-decoration: none; 
}
h3{
 color: rgb(255, 255, 255);
 font-size: 22px;
 margin-left: 16px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 h3:hover {
 color:rgb(162, 163, 164); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.co{
 color: rgb(255, 255, 255);
 font-size: 18px;
 margin-left: 16px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.f1{
display: flex;
flex-direction: row;
}
.dw{
width:800px;
height:130px;
text-align: left;
color: white;
}
.bu1{
 border-width: 0px;
 background-color: orange;
 border-radius: 4px;
 height:50px;
 width:200px;
 margin-left: 30px;
 color: white;
 font-size: 19px;;
 margin-bottom: 20px;;
 margin-top: 20px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .bu12{
 border: 1px solid white;
 background-color: transparent;
 border-radius: 4px;
 height:50px;
 width:200px;
 margin-left: 30px;
 color: white;
 font-size: 19px;;
 margin-bottom: 20px;;
 margin-top: 20px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .bu2{
 border-width: 0px;
 background-color: rgb(255, 255, 255);
 border-radius: 4px;
 height:140px;
 width:140px;
 margin-left: 3px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align: center;
 
 color: rgb(99, 97, 97);
 font-size: 19px;;
 margin-bottom: 20px;;
 }
 .bu2:hover {
 transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
 
.bu12:hover {
 background-color:orange;
 color: white; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
} 
#wk{
    font-size: 39px;
    width:650px;
    border-bottom: 8px solid orange;
    padding-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
 }

 .dw{
 width:800px;
 height:130px;
 text-align: left;
 color: white;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 .con{
    width:800px;
 height:500px;
 margin-top: 30px;
 margin-bottom: 20px;
 font-size: 20px;
 text-align: left;
 color: white;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
        </style>

    </head>
    <body>
       
       
        <div class="mbo ma">
         
                <div class="dw">  <div id="wk">WEIGHT LOSS EXERCISES</div></div>
                <div class="con">Achieving successful weight loss involves a multifaceted approach that encompasses understanding the fundamentals of healthy eating and the significance of a caloric deficit. It's crucial to adopt a balanced diet rich in fruits, vegetables, lean proteins, whole grains, and healthy fats while practicing mindful eating and portion control. Regular physical activity, including cardio, strength training, and flexibility exercises, not only burns calories but also enhances overall health and boosts metabolism. Setting realistic and specific goals, managing stress through relaxation techniques, and fostering a positive self-image are integral parts of a holistic weight loss journey. It's essential to approach weight loss with patience and consistency, aiming for sustainable lifestyle changes rather than quick fixes, to achieve and maintain a healthier body and mind.</div>
       <div id="v1">
       
        <img id="di1" src="https://fitnessprogramer.com/wp-content/uploads/2021/06/Bike.gif" alt="Initial Image">
        <div class="c f"><a id="dl1" href="monl3.html?image=image1&content=content1&head=head1&steps=steps1"><div><h3 id="h1">BIKE</h3></div><div class="co" id="c1">Bike , gym or outdoor</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di2" src="https://fitnessprogramer.com/wp-content/uploads/2021/06/Treadmill-.gif" alt="Initial Image">
        <div class="c f"><a id="dl2" href="monl3.html?image=image2&content=content2&head=head2&steps=steps2"><div><h3 id="h1">TREADMILL</h3></div><div class="co" id="c1">Treadmill , gym or home</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di3" src="https://fitnessprogramer.com/wp-content/uploads/2021/06/Incline-Treadmill.gif" alt="Initial Image">
        <div class="c f"> <a id="dl3" href="monl3.html?image=image3&content=content3&head=head3&steps=steps3"><div><h3 id="h1">INCLINE TREADMILL</h3></div><div class="co" id="c1">Inclined treadmill , gym </div></a></div>
       </div>
       <div id="v1">
       
        <img id="di4" src="https://fitnessprogramer.com/wp-content/uploads/2021/06/Rowing-Machine.gif" alt="Initial Image">
        <div class="c f"><a id="dl4" href="monl3.html?image=image4&content=content4&head=head4&steps=steps4"><div><h3 id="h1">ROWING MACHINE</h3></div><div class="co" id="c1">Rowing machine , gym </div></a></div>
       </div>
       <div id="v1">
       
        <img id="di5" src="https://fitnessprogramer.com/wp-content/uploads/2021/06/Assault-Air-Runner.gif" alt="Initial Image">
        <div class="c f"> <a id="dl5" href="monl3.html?image=image5&content=content5&head=head5&steps=steps5"><div><h3 id="h1">ASSAULT AIR RUNNER</h3></div><div class="co" id="c1">Assualt air runner</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di6" src="https://fitnessprogramer.com/wp-content/uploads/2021/10/Elliptical-Machine.gif" alt="Initial Image">
        <div class="c f"><a id="dl6" href="monl3.html?image=image6&content=content6&head=head6&steps=steps6"><div><h3 id="h1">ELLIPTICAL MACHINE</h3></div><div class="co" id="c1">Elliptical machine , gym </div></a></div>
       </div>
       <div id="v1">
       
        <img id="di7" src="https://fitnessprogramer.com/wp-content/uploads/2021/09/Elbow-To-Knee-Twists.gif" alt="Initial Image">
        <div class="c f"><a id="dl7" href="monl3.html?image=image7&content=content7&head=head7&steps=steps7"><div><h3 id="h1">ELBOW TO KNEE TWISTS</h3></div><div class="co" id="c1">Home</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di8" src="https://fitnessprogramer.com/wp-content/uploads/2022/02/Push-up-Toe-Touch.gif" alt="Initial Image">
        <div class="c f"> <a id="dl8" href="monl3.html?image=image8&content=content8&head=head8&steps=steps8"><div><h3 id="h1">PUSH UP TOE TOUCH</h3></div><div class="co" id="c1"> Gym or home</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di9" src="https://fitnessprogramer.com/wp-content/uploads/2021/02/Mountain-climber.gif" alt="Initial Image">
        <div class="c f"> <a id="dl9" href="monl3.html?image=image9&content=content9&head=head9&steps=steps9"><div><h3 id="h1">MOUNTAIN CLIMBER</h3></div><div class="co" id="c1">Block , gym or home</div></a></div>
       </div>
       <div id="v1">
       
        <img id="di10" src="https://fitnessprogramer.com/wp-content/uploads/2021/09/Power-Skips.gif" alt="Initial Image">
        <div class="c f"> <a id="dl10" href="monl3.html?image=image10&content=content10&head=head10&steps=steps10"><div><h3 id="h1">POWER SKIPS</h3></div><div class="co" id="c1"> Gym or home</div></a></div>
       </div>
</div>
          
    </body>
    <script>
         function diet(){
            window.location.href = "diet2.html";
        }
    </script>
   










</html>