<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,300;1,500;1,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>FIT VISHNU-HOME</title>
    <style>
        /* Reset some default styles to ensure full-page image coverage */
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        
        /* Set the background image */
        .background {
            position: fixed;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('https://cdn.glitch.global/f38667d5-b94e-4d97-81d2-ff097b3b2247/backpro.jpg?v=1696481938290');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed; /* Keeps the background fixed when scrolling */
        }
        .background::before{
            content: "";
            position: absolute;
            top:0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
        }        
        /* Style for the logo */
        .logo {
            position: absolute;
            top: 58px; /* Adjust this value to position the logo vertically */
            left: 120px; /* Adjust this value to position the logo horizontally */
            width: 180px; /* Adjust the width of the logo as needed */
            height: auto; /* Automatically adjust the height to maintain aspect ratio */
        }
        
        /* Style for the caption container */
        .caption-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        
        /* Style for "Crush Your Goals" in bold */
        .bold-text {
            font-weight: bold;
            color: white;
            font-size: 80px;
        }
        
        /* Style for "On Campus and In the Gym" with a different font */
        .different-font {
            font-family: 'Kanit', sans-serif; /* Change the font as needed */
            color: white;
            font-size: 30px;
        }

        /* Style for the button container */
        .button{
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Kanit,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button {
    padding: 19px 32px;
  }
}

.button:before,
.button:after {
  border-radius: 80px;
}

.button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button:active:not(:disabled) {
  color: #ccc;
}

.button:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button:disabled {
  cursor: default;
  opacity: .24;
}
.button-container {
            position: absolute;
            top: 65%; /* Adjust this value to position the button vertically */
            left: 50%;
            transform: translateX(-50%);
        }

.social-media-container {
    position: absolute;
    top: 80%; /* Adjust this value to position the social media icons vertically */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.social-media-icon {
    margin: 0 10px; /* Adjust the spacing between icons */
    width: 30px; /* Adjust the width of the icons */
    height: auto;
    display: inline-block;
}
.button-78 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Kanit,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  height: auto;
  word-break: keep-all;
  z-index: 0;
  left: 1130px;
  top: 5px;
}

@media (min-width: 768px) {
  .button-78 {
    padding: 19px 32px;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 80px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}

    </style>
</head>
<body>
    <div class="background"></div>
    <div class="logo">
        <img src="https://cdn.glitch.global/f38667d5-b94e-4d97-81d2-ff097b3b2247/erebfyvy-removebg-preview.png?v=1696487966062" alt="Your Logo" class="logo">
    </div>
    <div class="caption-container">
        <span class="bold-text">Crush Your Goals</span>
        <br>
        <span class="different-font">On Campus and In the Gym</span>
    </div>
    <div class="button-container">
        <a href="http://localhost:3000/signup" class="button">REGISTER NOW</a>
    </div>
    <div class="social-media-container">
        <a href="https://twitter.com"><img src="https://img.icons8.com/color/48/000000/twitter.png" alt="Twitter" class="social-media-icon"></a>
        <a href="https://instagram.com"><img src="https://img.icons8.com/color/48/000000/instagram-new.png" alt="Instagram" class="social-media-icon"></a>
        <a href="https://facebook.com"><img src="https://img.icons8.com/color/48/000000/facebook-new.png" alt="Facebook" class="social-media-icon"></a>
    </div>



</body>
</html>
